body{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 0px;
	}
.slots{
    height: 100px;
    width: 100px;
	margin-right: 20px;
    
	}
ul{
    display: flex;
	list-style: none;
	}	
#nr1{
    background-color: rgb(240, 237, 90);
	}
#nr2{
   	background-color: rgb(32, 182, 228);
	}
#nr3{
    background-color: magenta;
	}
#nr4{
    background-color: chartreuse;
	}
